SRCDS_PORT=27015
SRCDS_MAP=nmo_broadway
SRCDS_MAXPLAYERS=8
SRCDS_HOSTNAME=NMRIH Durgaai Solutions
RCON_PASSWORD=ChangeMe
SERVER_PASSWORD=1234
SERVER_IP=176.31.163.114
GSLT_TOKEN=171FAD087CD80E5CCF06C7EF2B0C8664
